<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SpringBoot Login</title>
		<link href="/css/login.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="main">  	
			<input type="checkbox" id="chk" aria-hidden="true">

				<div class="signup">
					<form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
						<label for="chk" aria-hidden="true">Sign up</label>

						<input class="form-control"
                               id="firstName"
                               name="firstName"
                               placeholder="Enter first name"
                               th:field="*{firstName}"
                               type="text"
                        />
                        <p th:errors="*{firstName}" class="text-danger"
                           th:if="${#fields.hasErrors('firstName')}">
                        </p>

						<input class="form-control"
                               id="lastName"
                               name="lastName"
                               placeholder="Enter last name"
                               th:field="*{lastName}"
                               type="text"
                        />
                        <p th:errors="*{lastName}" class="text-danger"
                           th:if="${#fields.hasErrors('lastName')}">
                        </p>

						<input class="form-control"
                               id="email"
                               name="email"
                               placeholder="Enter email address"
                               th:field="*{email}"
                               type="email"
                        />
                        <p th:errors="*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}">
                        </p>

						<input class="form-control"
                               id="password"
                               name="password"
                               placeholder="Enter password"
                               th:field="*{password}"
                               type="password"
                        />
                        <p th:errors="*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}">
                        </p>
						<div th:if="${message}" class="alert" th:classappend="${success ? 'alert-success' : 'alert-danger'}" th:text="${message}"></div>
						<button class="btn btn-primary" type="submit">Register</button>
					</form>
				</div>

				<div class="login">
					<form method="post" action="/login">
						<label for="chk" aria-hidden="true">Login</label>
						<input type="email" name="username" placeholder="Email" required="">
						<input type="password" name="password" placeholder="Password" required="">
						<button type="submit">Login</button>
					</form>
				</div>				
		</div>
	</body>
</html>







