<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SpringBoot Login</title>
		<link href="/css/login.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="users-box">
						<h1 class="header">Registered Users</h1>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Email</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user: ${users}">
									<td th:text="${user.firstName}"></td>
									<td th:text="${user.lastName}"></td>
									<td th:text="${user.email}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
